@page
@model ASP.NET_Core_Inlämningsuppgift1_Daniel_Persson.Pages.EventsModel

@{
    ViewData["Title"] = "Events";
}
<body>
    <div>
        <h4>Events</h4>
        <hr />
        @foreach (var item in Model.Event)
        {

            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Event[0].Title) <!--la till [0] efter Event nu för att vi använder oss av LIST-->
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Event[0].Title)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Event[0].Organizers.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Event[0].Organizers.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Event[0].Adress)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Event[0].Adress)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Event[0].Description)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Event[0].Description)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Event[0].Date)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Event[0].Date)
                </dd>
                <a asp-page="/JoinEvent" asp-route-id="@Model.Event[0].Id">Join</a> <!-- Göra en dedikerad Join Sida  -->



            </dl>
        }
    </div>

    <div>
        <a asp-page="./Index">Back to main menu</a>
    </div>


</body>


<!--Början av ny Eventlista...-->
<!--
 <div id="eventcontainer">
     <div id="accordion">


             {
                <div class="card">
                    <div class="card-header">
                        <h5></h5>


                    </div>



                </div>
         }


     </div>


 </div>
    -->
<!--SLUT-->