@page
@model ASP.NET_Core_Inlämningsuppgift1_Daniel_Persson.Pages.MyEventsModel
@{
    ViewData["Title"] = "MyEvents";
}


<h1>MyEvents</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].Attendees[0].Name) <!--Name-->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].Attendees[0].Email) <!--Email-->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].Attendees[0].Adress) <!--Adress-->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].Attendees[0].PhoneNumber) <!--PhoneNumber-->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].Adress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].Attendees)
            </th>
           
                <td>
                    @Html.DisplayFor(model => model.Event[0].Id)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Event[0].Title)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Event[0].Description)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Event[0].Adress)
                </td>
                <td>
                     <a asp-page="./Index" asp-route-id="">Home</a> 

                </td>



           
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>